.DS_Store
.idea/*
DLC/*
Assets/Dependencies/JEngine/Core/.idea/*
.idea/*
HotUpdateScripts/.vs/*
Library/*
Temp/*
obj/*
Pkthigh.sln
HotUpdateScripts/obj/*
Assets/HotUpdateResources/Dll/HotUpdateScripts.bytes
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
com.unity.multiplayer-hlapi.Editor.csproj
com.unity.multiplayer-hlapi.Runtime.csproj
com.unity.multiplayer-weaver.Editor.csproj
ILRuntime.csproj
Malee.ReorderableList.csproj
Malee.ReorderableList.Editor.csproj
Sirenix.OdinInspector.CompatibilityLayer.csproj
Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
UIWidgets.csproj
UIWidgets.Editor.csproj
UIWidgets.Examples.csproj
UIWidgets.Examples.Editor.csproj
UIWidgets.Styles.Editor.csproj
Unity.2D.Sprite.Editor.csproj
Unity.2D.Tilemap.Editor.csproj
Unity.Analytics.DataPrivacy.csproj
Unity.CollabProxy.Editor.csproj
Unity.Rider.Editor.csproj
Unity.TextMeshPro.csproj
Unity.TextMeshPro.Editor.csproj
Unity.Timeline.csproj
Unity.Timeline.Editor.csproj
Unity.VSCode.Editor.csproj
UnityEditor.SpatialTracking.csproj
UnityEditor.TestRunner.csproj
UnityEditor.UI.csproj
UnityEditor.XR.LegacyInputHelpers.csproj
UnityEngine.Advertisements.csproj
UnityEngine.Monetization.csproj
UnityEngine.SpatialTracking.csproj
UnityEngine.TestRunner.csproj
UnityEngine.UI.csproj
UnityEngine.XR.LegacyInputHelpers.csproj
WebSocketSharp.csproj
PkthighUnity.apk
